
#copyright
	{
		overflow: hidden;
		position: -webkit-sticky;
		bottom: 0rem;
		padding: 5em 0em;
		border-top: 1px solid rgba(0,0,0,0.08);
	}
	
	#copyright p
	{
		letter-spacing: 0.20em;
		text-align: center;
		text-transform: uppercase;
		font-size: 0.70em;
		color: rgba(0,0,0,0.5);
	}
	
	#copyright a
	{
		text-decoration: none;
		color: rgba(0,0,0,0.8);
	}
